.header {
  padding: 10px 10px 10px 10px;
}
.container {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question,
.ans {
  font-size: 20px;
  padding: 0px 0px 0px 0px;
}

.qaContainer {
  margin-left: 40px;
  padding-bottom: 20px;
}

.label {
  font-size: 20px;
  padding: 5px 5px 0px 20px;
  font-weight: bold;
}

.output {
  font-size: 20px;
  margin: 0px 5px 5px 40px;
}

.subHeader {
  font-size: 30px;
  margin: 5px 5px 5px 20px;
  font-weight: bold;
  text-decoration: underline;
}

input.answer {
  height: 40px;
}

textarea.answer {
  height: 100px;
}

.questionSection {
  margin-top: 30px;
  margin-bottom: 30px;
}

.applicationContainer {
  margin: 25px;
  border: 0px white solid;
  border-radius: 25px;
  background-color: #16181a;
  width: 100%;
}

.title {
  margin-bottom: 10px;
}

.body {
  min-width: 250px;
  width: 100%;
  background-color: #222222;
  padding: 10px;
  border-radius: 10px;
}

.fieldBlock {
  margin-top: 20px;
  margin-bottom: 20px;
}